{% extends 'base.html' %}

{% block content %}
<header><h1 class="center">Product View</h1></header>
<div class="container">
  <div class="row">
    <div class="col-lg-12 polaroid"> 
      <div class="box-img"> 
          <img alt="img" src="{{object.image.url}}"> 
      </div> 
      <div class="content"> 
          <h1 style="color:blue;">{{ object.category }}</h1> 
          <h4 style="color:blue;">{{object.name}} <strong>{{object.price}} ฿</strong></h4> 
      </div> 
    </div> 
  </div>
</div>
{% endblock %}