{% extends 'base.html' %}

{% block content %}
<header><h1 class="center">Product List</h1></header>
<div class="container">
  <div class="row">
  {% for product in qs %} 
    <div class="col-md-6 col-lg-4 polaroid"> 
      <div class="box-img"> 
          <img alt="img" src="{{product.image.url}}"> 
      </div> 
      <div class="content"> 
          <h4 style="color:blue;">{{product.name}} <strong>{{product.price}} ฿</strong></h4> 
      </div> 
    </div> 
  {% endfor %}
  </div>
</div>
{% endblock %}